<div class="page">
  <div class="board">
    <div class="row">
      <app-cell [id]="0"></app-cell>
      <app-cell [id]="1"></app-cell>
      <app-cell [id]="2"></app-cell>
    </div>
    <div class="row">
      <app-cell [id]="3"></app-cell>
      <app-cell [id]="4"></app-cell>
      <app-cell [id]="5"></app-cell>
    </div>
    <div class="row">
      <app-cell [id]="6"></app-cell>
      <app-cell [id]="7"></app-cell>
      <app-cell [id]="8"></app-cell>
    </div>
  </div>
  <div> {{ gameState }}</div>
</div>
